In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder


from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

F:\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
adult_df = pd.read_csv("adult.txt")
covtype_df = pd.read_csv("covtype.txt",names=list(range(0,55)))
letter_df = pd.read_csv("letter-recognition.txt",names=list(range(0,17)))

In [3]:
imp_mean = SimpleImputer(missing_values=" ?", strategy="most_frequent").fit(adult_df)
adult_df = pd.DataFrame(imp_mean.transform(adult_df), columns=adult_df.columns)

# convert prediction data into binary labels
adult_df['dat'] = np.where(adult_df['dat'] == ' >50K',1,0)
adult_df.sample(15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,dat
26398,35,Private,218955,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,0
25289,33,Private,181388,HS-grad,9,Separated,Other-service,Unmarried,White,Female,0,0,40,United-States,0
2728,19,Private,87653,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,25,United-States,0
13038,58,Private,214502,9th,5,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,50,United-States,1
31629,57,Self-emp-not-inc,79539,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,0
24992,32,Private,323055,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
15961,47,Local-gov,198660,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,1
30516,37,Private,389725,12th,8,Divorced,Craft-repair,Own-child,White,Male,0,0,35,United-States,0
17434,51,Private,313146,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,0
4257,46,Private,185041,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,75,United-States,1
21814,60,Private,116707,11th,7,Divorced,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,0
17670,27,Private,161155,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,0
30546,47,Private,45564,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
29763,41,Private,199018,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
30326,56,Federal-gov,255386,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,40,Laos,0

In [5]:
pred_column = covtype_df[54]
positive_label = pred_column.value_counts().index[0]

# convert prediction data into binary labels
pred_column = np.where(pred_column == positive_label, 1, 0)

covtype_df.drop(columns=[54],inplace=True)

In [6]:
scaler = MinMaxScaler().fit(covtype_df)
covtype_df = pd.DataFrame(scaler.transform(covtype_df),columns=covtype_df.columns)
covtype_df.insert(54,54,pred_column,True)
covtype_df.sample(10)

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
151449,0.548774,0.716667,0.106061,0.137437,0.217054,0.798089,0.803150,0.960630,0.704724,0.282169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
423036,0.467734,0.125000,0.348485,0.088762,0.267442,0.211184,0.862205,0.724409,0.350394,0.354384,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
219961,0.712356,0.108333,0.136364,0.136006,0.215762,0.474919,0.870079,0.862205,0.523622,0.260560,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
439465,0.600300,0.922222,0.196970,0.030064,0.224806,0.367711,0.748031,0.881890,0.681102,0.093963,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
81825,0.523762,0.638889,0.121212,0.137437,0.279070,0.579036,0.818898,0.972441,0.692913,0.503973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
123250,0.454727,0.469444,0.181818,0.060845,0.237726,0.295068,0.901575,0.964567,0.570866,0.419211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
391011,0.660830,0.586111,0.257576,0.369363,0.361757,0.280315,0.803150,1.000000,0.712598,0.129932,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
129500,0.459730,0.875000,0.030303,0.042949,0.224806,0.345230,0.838583,0.933071,0.637795,0.370974,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
573896,0.396698,0.572222,0.500000,0.085898,0.306202,0.399747,0.708661,0.976378,0.708661,0.169106,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
415547,0.736868,0.286111,0.242424,0.349320,0.291990,0.194042,0.964567,0.854331,0.377953,0.345323,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [7]:
letter_col,pred_column = letter_df[0], letter_df[16]
letter_df.drop(columns=[0,16],inplace=True)

In [8]:
scaler = MinMaxScaler().fit(letter_df)
letter_df = pd.DataFrame(scaler.transform(letter_df),columns=letter_df.columns)
letter_df.insert(0,0,letter_col,True)
letter_df.insert(16,16,pred_column,True)

# two ways to make binary classification labels
letter_df_p1 = np.where(letter_df[0] == 'O', 1, 0)
letter_df_p2 = np.where(letter_df[0].isin([chr(x) for x in range(ord('A'), ord('M') + 1)]), 1, 0)
letter_df.insert(17,17,letter_df_p1,True)
letter_df.insert(18,18,letter_df_p2,True)


letter_df.sample(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
10073,G,0.400000,0.733333,0.400000,0.533333,0.333333,0.400000,0.400000,0.400000,0.400000,0.666667,0.400000,0.866667,0.266667,0.600000,0.400000,8,0,1
18802,H,0.333333,0.600000,0.533333,0.466667,0.533333,0.466667,0.466667,0.400000,0.400000,0.466667,0.400000,0.533333,0.200000,0.533333,0.200000,8,0,1
11735,X,0.133333,0.266667,0.266667,0.200000,0.133333,0.666667,0.466667,0.066667,0.533333,0.666667,0.200000,0.466667,0.133333,0.466667,0.200000,8,0,0
8550,Q,0.333333,0.466667,0.333333,0.600000,0.400000,0.466667,0.666667,0.266667,0.200000,0.466667,0.666667,0.666667,0.200000,0.666667,0.400000,7,0,0
6188,R,0.200000,0.600000,0.266667,0.400000,0.133333,0.333333,0.666667,0.533333,0.266667,0.466667,0.266667,0.600000,0.200000,0.466667,0.400000,11,0,0
5712,P,0.333333,0.733333,0.533333,0.533333,0.333333,0.400000,0.733333,0.200000,0.400000,0.933333,0.466667,0.266667,0.000000,0.666667,0.200000,8,0,0
16603,P,0.466667,0.733333,0.600000,0.533333,0.533333,0.400000,0.533333,0.466667,0.266667,0.533333,0.466667,0.600000,0.200000,0.600000,0.466667,9,0,0
7710,Y,0.200000,0.666667,0.333333,0.466667,0.066667,0.466667,0.800000,0.066667,0.266667,0.466667,0.800000,0.533333,0.000000,0.666667,0.000000,8,0,0
12361,T,0.066667,0.000000,0.066667,0.000000,0.000000,0.466667,0.866667,0.066667,0.266667,0.466667,0.666667,0.533333,0.000000,0.533333,0.000000,8,0,0
3922,Y,0.266667,0.466667,0.400000,0.333333,0.200000,0.333333,0.600000,0.066667,0.466667,0.533333,0.800000,0.600000,0.066667,0.733333,0.133333,7,0,0

In [9]:
# parameters = {'C':[1],'penalty':['l2']}
X = covtype_df.drop(columns=[0])
y = np.where(covtype_df[16] == 2,1,0)
log_reg = LogisticRegression()
clf = GridSearchCV(estimator=log_reg,param_grid=parameters)
clf.fit(X,y)
print(clf.score(X))

NameError: name 'parameters' is not defined

In [4]:
from sklearn.compose import make_column_transformer
from sklearn.model_selection import cross_val_score

X = adult_df[['workclass', 'marital-status', 'occupation', 'relationship']]
y = np.where(adult_df.iloc[:,-1] == ' >50K',1,0)

column_trans = make_column_transformer((OneHotEncoder(handle_unknown='ignore'),
                                        ['workclass', 'marital-status', 'occupation']),
                                      (OrdinalEncoder(), ['relationship']),
                                      remainder='drop')
logreg = LogisticRegression()
pipe = make_pipeline(column_trans, logreg)
cross_val_score(pipe, X, y, cv=10, scoring='f1')

F:\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)
F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "F:\Anaconda3\lib\site-packages\sklearn\pipeline.py", line 335, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "F:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1374, in fit
    " class: %r" % classes_[0])
ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

  FitFailedWarning)

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])